.li {
  margin-bottom: 20px;
}

.readonly {
  font-family: var(--ifm-font-family-monospace);
  margin-inline-end: 5px;
  opacity: 0.75;
}

.parameterName {
  font-size: 12pt;
  font-weight: bold;
}

.specifications {
  font-size: 11pt;
}
