.container {
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 85vh;
  overflow: hidden;
}

.sidebarContainer {
  background-color: #80808040;
  cursor: pointer;
  display: grid;
  grid-auto-rows: min-content;
  overflow: scroll;
}

.sidebarItemContainer {
  --sidebarItemHeight: 54px;
  align-items: center;
  border-bottom: solid 1px #80808080;
  display: grid;
  height: var(--sidebarItemHeight);
  overflow: hidden;
  padding-inline-start: 10px;
  text-overflow: ellipsis;
  user-select: none;
}

.sidebarItemContainer:hover {
  background-color: #80808020;
}

.sidebarItemContainer:active {
  background-color: #00000020;
}

.removeNoteButton {
  cursor: pointer;
  display: grid;
  font-size: 18pt;
  height: var(--sidebarItemHeight);
  opacity: 0;
  place-items: center;
  text-align: center;
  user-select: none;
  width: var(--sidebarItemHeight);
}

.removeNoteButton:hover {
  color: #ff4a4a;
  background-color: #ff4a4a40;
}

.removeNoteButton:active {
  color: #ff0000;
  background-color: #80000040;
}

.sidebarItemContainer:hover .removeNoteButton {
  opacity: 1;
}

.editorContainer {
  display: grid;
  background-color: #222222;
  grid-auto-rows: auto 1fr;
}

.titleInput {
  background-color: transparent;
  border: none;
  border-bottom: dashed 2px #80808080;
  font-size: 24pt;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 10px;
  outline: none;
}

.titleInput::placeholder {
  font-style: italic;
}

.bodyTextArea {
  background-color: transparent;
  border: none;
  font-size: 16pt;
  outline: none;
  margin: 10px;
  resize: none;
}

.bodyTextArea::placeholder {
  font-style: italic;
}
