.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 96px;
  fill: #2b80ff;
  width: 96px;
}

[data-theme="dark"] .featureSvg {
  fill: #4b90ff;
}
