.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 96px;
  fill: #46a9f5;
  width: 96px;
}

[data-theme="dark"] .featureSvg {
  fill: #70bdf7;
}
